@model ApplicationUser

@if (Model == null)
{
}
else
{
    <a class="card mb-3 align-content-center align-self-center text-center" asp-controller="Home" asp-action="Profile" asp-route-id="@Model.Id" class="card-header">
        <h2 class="card-header">@Model.Uname</h2>
        <h2 class="card-header-pills">@Model.Name</h2>
        <div class="card-body">
            <h5 class="card-title"> <img class="img_round" width="500" src="~/ProfilePictures/@Model.ProfilePicture" /> </h5>
        </div>
        <div class="card-body">
@*            <h3>About me:</h3>*@
            <p class="card-text">@Model.Bio</p>
            @if (Model.DateOfBirth.HasValue)
            {
                <p class="card-text">@Model.DateOfBirth.Value.ToShortDateString()</p>
            }

        </div>
    </a>
}