@model ApplicationUser

@if (Model == null)
{
    <div class="loader"></div>
}
else
{
    <header>
        <div class="container" style="width:80%; padding-block:1%;">

            <div class="profile card">

                <div class="profile-image">
                    <img src="~/ProfilePictures/@Model.ProfilePicture" style="width: 600px; height: 600px;">
                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">@Model.Uname</h1>

                    @if (ViewBag.UserId.Equals(Model.Id))
                    {
                        <a asp-controller="Home" asp-action="EditProfile" asp-route-id="@Model.Id" class="btn profile-edit-btn">
                            <i class="bi bi-pencil-square"></i> Edit Profile
                        </a>
                    }
                    else if (Model.Followers.FirstOrDefault(l => l.CurrentUserId.Equals(new Guid(ViewBag.UserId))) == null)
                    {
                        <a asp-controller="Home" asp-action="FollowUser" asp-route-userId="@Model.Id" class="btn profile-edit-btn">
                            <b>Follow</b>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="UnFollowUser" asp-route-userId="@Model.Id" class="btn profile-edit-btn">
                            <b>Unfollow</b>
                        </a>
                    }
                </div>

                <div class="profile-stats">
                    <ul>
                        <li><span class="profile-stat-count">@(Model.Posts != null ? Model.Posts.Count.ToString() : 0 )</span> posts</li>
                        <li><span class="profile-stat-count">@Model.FollowersCount</span> followers</li>
                        <li><span class="profile-stat-count">@Model.FollowingCount</span> following</li>
                    </ul>

                </div>

                <div class="profile-bio text-center">
                    <span class="profile-real-name">@Model.Name</span>
                    <p>@Model.Bio</p>
                    <p class="disabled" style="color:#4e6151ff">Joined: @Model.JoinDate.ToShortDateString()</p>
                </div>

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>


    //posts here
    <div class="container">

        <div class="gallery">

            @*@foreach (PostModel post in Model.Posts)
        {

        <div class="gallery-item" tabindex="0">
        <partial name="Post/_PostPartial.cshtml" for="@post" class="gallery-image">
        <div class="gallery-item-info">

        <ul>
        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>@post.LikeCount</li>
        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>@post.CommentCount</li>
        </ul>

        </div>

        </div>
        }*@

        </div>
        <!-- End of gallery -->
        @*<div class="loader"></div>*@

    </div>
    <!-- End of container -->
}