@model PostModel

@if (Model != null)
{

    @*<a asp-action="Profile" asp-controller="Home" asp-route-id="@Model.UserID" />*@
    <div class="card mx-auto" @*style="flex-basis:100%;"*@ id="@Model.PostId.ToString()">
        @*<h class="card-header">@Model.Username</h>*@      
        
        <a asp-controller="Home" asp-action="Profile" asp-route-id="@Model.UserId" class="card-header a">
            @*<h3>
                @if (Model.ProfilePicture != null)
                {
                    <img width="100" height="auto" src="@Model.ProfilePicture.ToString()" />
                }
                  
                @Model.Username
            </h3>*@
        </a>

        @*Post Caption*@
        <div class="card-body">
            <h6 class="card-subtitle text-muted">@Model.Caption</h6>
        </div>

        <div class="card-subtitle">
            <p class="card-text"></p>
        </div>
        <hr/>

        @*Post image*@
        <div class="card-img">
            <img fill="#dee2e6" dy=".3em" width="500" height="auto" src="@Model.ImageUrl" />
        </div>
        <hr>
        
        @if (Model.EditDate == null)
        {
            <div class="card-footer text-muted my_center text-center">
                Posted on: @Model.PostDate
            </div>
        }
        else
        {
            <div class="card-footer text-muted my_center text-center">
                Posted on: @Model.PostDate
            </div>
            <div class="card-footer text-muted my_center text-center">
               Edited on: @Model.EditDate
            </div>                        
        }
        
        @*Comments button, can be modal*@
        <div class="card-footer text-muted">
            <a asp-controller="Home" asp-action="AddComment" asp-route-PostID="@Model.PostId" class="btn btn-success mx-2 text-right">
                <i class="bi bi-chat-left"></i> Add Comment
            </a>

            @*If post belongs to the current logged in user, they can edit or delete the Post*@
            @if (ViewBag.UserId == Model.UserId)
            {
                <a asp-controller="Home" asp-action="EditPost" asp-route-id="@Model.PostId" class="btn btn-primary mx-2 text-right">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>

                <a asp-controller="Home" asp-action="DeletePost" asp-route-id="@Model.PostId" class="btn btn-danger mx-2 align-content-end">
                    <i class="bi bi-trash"></i> Delete
                </a>

            }
        </div>

            @*can be in an accordian*@
        @*<div class = "card-footer text-muted">
            @if (Model.Comments != null)
            {
                Displays all comments
                @foreach (var commentId in Model.CommentIds)
                {
                    <partial name="_CommentPartialView.cshtml" for="@commentId" />

                   *If the comment belongs to the signed in User they can edit or delete the comment
                    @if (ViewBag.UserId == comment.UserID)
                    {
                        <div class="card-footer text-muted">
                            <a asp-controller="Home" asp-action="EditComment" asp-route-id="@comment.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>

                            <a asp-controller="Home" asp-action="DeleteComment" asp-route-id="@comment.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    }

                }

            }
        </div>*@
        
    </div>    
}