@model PostModel

@if (Model != null)
{
    <div class="container" style="margin-bottom:1%; margin-top:1%; width:60%;">
        <div class="card" id="@Model.PostId.ToString()" style="border:dashed; border-color:#4e6151ff">

            <div class="row" style="margin-left:0%; margin-top:1%;">
                <div class="col-sm-1" style="margin-right:2%;">
                    <a asp-controller="Home" asp-action="ProfilePost" asp-route-id="@Model.UserId">
                        <img class="img_round" src="~/ProfilePictures/@Model.ProfilePicture" style="height:69px; width:69px" />
                    </a>
                </div>
                <div class="col-sm-auto" style="">
                    <a asp-controller="Home" asp-action="ProfilePost" asp-route-id="@Model.UserId" style="color:inherit; text-decoration:inherit;">
                        @Model.Name
                    </a>
                </div>
                <div class="col-sm-auto">
                    <p>
                        <strong>
                            <a asp-controller="Home" asp-action="ProfilePost" asp-route-id="@Model.UserId" style="color:inherit; text-decoration:inherit;">
                                @Model.UserName
                            </a>
                        </strong>
                    </p>
                </div>
                <div class="col-sm-auto">
                    <p>
                        Posted: @Model.TimeAgo ago
                    </p>
                </div>
                <div class="col-sm-auto">
                </div>
                <div class="col-sm-auto" style="margin-left:1%; margin-right:auto;">
                    @if (ViewBag.UserId == Model.UserId.ToString())
                    {
                        <div class="btn dropdown" style="width:auto;">
                            <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:inherit; text-decoration:inherit;">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu" style="">
                                <h6 class="dropdown-header">Post options</h6>
                                <a asp-controller="Home" asp-action="EditPost" asp-route-id="@Model.PostId" class="dropdown-item" style="color:inherit; text-decoration:inherit;">
                                    <i class="bi bi-pencil-square"></i>
                                    <span>Edit Post</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a asp-controller="Home" asp-action="DeletePost" asp-route-id="@Model.PostId" class="dropdown-item" style="color:inherit; text-decoration:inherit;">
                                    <i class="bi bi-trash"></i>
                                    <span>Delete Post</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>

            @*Row 2*@   
            @if (!String.IsNullOrEmpty(Model.Caption))
            {
                <div class="row">
                    <div class="col-sm-1">
                        <span></span>
                    </div>
                    <div class="col-xl">
                        <div class="card-body">
                            <p class="card-subtitle" style="word-wrap:inherit;">@Model.Caption</p>

                        </div>
                    </div>
                </div>
            }
            @*Row 3 Image*@
            @if (!String.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="col-sm-1">
                    <span></span>
                </div>
                <div class="col-xl card-img" style="margin-left:auto; align-content:center;">
                    <img src="~/Images/@Model.ImageUrl" style=" margin-left:10%;width:80%; height:auto; border:dashed; border-color:#4e6151ff"  />
                </div>
            }
            @*Row 4 Buttons*@

            <hr />
            <div class="row">
                <div class="col-sm-1">
                    <span></span>
                </div>
                <div class="col-sm-auto">
                    <div class="card-body">
                        @*Like Count, Like button*@
                        @if (Model.LikedBy != null)
                        {
                            @if (Model.LikedBy.FirstOrDefault(l => l.UserId.Equals(new Guid(ViewBag.UserId))) == null)
                            {
                                <a asp-controller="Home" asp-action="LikePost" asp-route-postId="@Model.PostId" class="btn">
                                    @*Can like the post*@
                                    <i class="bi bi-heart"></i>
                                    <span>@Model.LikedBy.Count() Likes</span>
                                </a>
                            }
                            else
                            {
                                @*Cannot like post, mark as liked*@
                                <a asp-controller="Home" asp-action="UnlikePost" asp-route-postId="@Model.PostId" class="btn">
                                    <i class="heart-icon bi bi-heart-fill"></i>
                                    <span>@Model.LikedBy.Count() Likes</span>
                                </a>
                            }
                        }
                    </div>
                </div>

                <div class="col-sm-auto">
                    <div class="card-body">
                        @if (Model.CommentsEnabled)
                        {
                            <a asp-controller="Home" asp-action="Post" asp-route-PostID="@Model.PostId" class="btn">
                                <i class="bi bi-chat-left"></i> @Model.CommentCount Comments
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="Post" asp-route-PostID="@Model.PostId" class="btn">
                                Comments disabled
                            </a>
                        }
                    </div>
                </div>

                <div class="col-sm-auto">
                    <div class="card-body">

                        <input type="hidden" value="https://localhost:7009/Home/Index + @Model.PostId.ToString()" id="postURL">
                        <a onclick="copyPostURL()" class="btn">
                            <i class="bi bi-link-45deg"></i> Share Post
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script>
    function copyPostURL() {
        // Get the text field
        var copyText = document.getElementById("postURL");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text
        alert("Copied Post URL: " + copyText.value);
    }
</script>