@page
@using System.Security.Claims;
@{
    ViewData["Title"] = "Create a Post";
}
@model Echoes_v0._1.Views.Home.Post.CreateModel


<div class="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewData["Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            @*<label asp-for="PostModel.UserId" class="control-label"></label>*@
                            <input asp-for="PostModel.UserId" class="form-control" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                            @*<span asp-validation-for="PostModel.UserId" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="PostModel.Caption" class="control-label"></label>
                            <input asp-for="PostModel.Caption" class="form-control" />
                            <span asp-validation-for="PostModel.Caption" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostModel.ImageUrl" class="control-label"></label>
                            <input asp-for="PostModel.ImageUrl" class="form-control" />
                            <span asp-validation-for="PostModel.ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="PostModel.PostDate" class="form-control" value="@DateTime.Now" type="hidden" />
                        </div>
                        <div class="form-group">
                            <input asp-for="PostModel.EditDate" class="form-control" type="hidden" value="@null" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>

@*<h4>PostModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="home" asp-action="CreatePost" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="PostModel.UserId" class="control-label"></label>
                <input asp-for="PostModel.UserId" class="form-control" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                <span asp-validation-for="PostModel.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostModel.Caption" class="control-label"></label>
                <input asp-for="PostModel.Caption" class="form-control" />
                <span asp-validation-for="PostModel.Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostModel.ImageUrl" class="control-label"></label>
                <input asp-for="PostModel.ImageUrl" class="form-control" />
                <span asp-validation-for="PostModel.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PostModel.PostDate" class="form-control" value="@DateTime.Now" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="PostModel.EditDate" class="form-control" type="hidden" value="@null"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    @*<a asp-page="Index">Back to List</a>*@
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
        Back to Explore Page
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
