@model HomeModel
@{
    ViewData["Title"] = "Home";
}
<div class="align-content-md-start">
    <h1 style="margin-left:1%; width:stretch;">@ViewData["Title"]</h1>
</div>
<hr />
@if (Model == null)
{
    <div class="loadingio-spinner-dual-ring-yivk72x2rcc" id="loader" onload="myFunction()">
        <div class="ldio-8kdhkbds30a">
            <div></div><div><div></div></div>
        </div>
    </div>
}
else if (Model.Posts.Count == 0)
{
    <div>
        <div class="text-center">
            <h1>No Posts to show here :[</h1>
            <h1>You can change that by making a new Post :]</h1>
        </div>

        <a id="myBtn" class="float my-float"><i class="bi bi-plus-square"></i></a>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="container">
                <div class="modal-dialog" role="dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create a Post</h5>
                            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <partial name="~/Views/Home/Post/CreatePost.cshtml" for="@Model.Post">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
else
{
    <!-- Trigger/Open The Modal -->
    <a id="myBtn" class="float my-float"><i class="bi bi-plus-square"></i></a>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="container">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create a Post</h5>
                        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <partial name="~/Views/Home/Post/CreatePost.cshtml" for="@Model.Post">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-dismissible alert-success sticky-top">
                @TempData["AlertMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }

        <!-- TABS -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Home</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#following" aria-selected="false" role="tab" tabindex="-1">Following</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="home" role="tabpanel">
                @foreach (PostModel pm in Model.Posts)
                {
                    <div>
                        <partial name="Post/_PostPartial.cshtml" for="@pm">
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="following" role="tabpanel">
                @{
                    if (Model.FollowedPosts.Count > 0)
                    {
                        foreach (PostModel pm in Model.FollowedPosts)
                        {
                            <div>
                                <partial name="Post/_PostPartial.cshtml" for="@pm">
                            </div>
                        }
                    }
                    else
                    {
                        <div class="text-center">
                            <h1>No Posts to show here :[</h1>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}  