@model SearchViewModel

<div>
    <form method="post" asp-controller="Home" asp-action="Search" class="input-group mb-3">
        <input name="key" class="form-control me-sm-2" type="search" placeholder="Search" value="@TempData["Key"]" />
        <button class="btn btn-secondary my-sm-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> search </button>
    </form>
</div>

@if (Model == null)
{
    <h1>No Users Exist, what are you doing here?</h1>
}
else if (Model.Users.Count() == 0 && Model.Posts.Count() == 0)
{
    <h1>The term you're looking for does not exists...</h1>
}
else
{
    <div>
        <div class="mx-auto">
            @if (Model.Users.Count() > 0)
            {
                <h2>Users containing : @TempData["Key"]</h2>
                @foreach (ApplicationUser au in Model.Users)
                {
                    <div class="card bg-light mx-auto" style="max-width: 50rem; margin-bottom: 10px;">
                        <div class="card-body">
                            <partial name="~/Views/Home/Profile/UserProfileView.cshtml" for="@au" class="card-text" />
                        </div>
                    </div>

                }
            }

            @if (Model.Posts.Count() > 0)
            {
                <h2>Posts containing : @TempData["Key"]</h2>
                @foreach (PostModel postModel in Model.Posts)
                {
                    <div class="card bg-light mx-auto" style="max-width: 50rem; margin-bottom: 10px;">
                        <div class="card-body">
                            <partial name="~/Views/Home/Post/_PostPartial.cshtml" for="@postModel" class="card-text" />
                        </div>
                    </div>

                }
            }
        </div>
    </div>
}